.about
    display: grid
    grid-gap: $gap
    grid-template-columns: 100%
    &__text
        padding: 10px 15px
        font-size: .9rem
        line-height: 1.2rem
        color: $link-grey
        flex-direction: column
        list-style: circle
    &__skillset
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        padding: 10px 15px
.face__container
    background-color: #fff
    text-align: center
    margin: 1rem
    border-radius: 5px
    box-shadow: 0 0 20px 1px #a7a7a738
.what-i-use
    margin-left: 30px
.btn--goto-contact

    margin-right: 10px
    font-style: normal
    align-self: flex-end

.space
    margin-top: 10px

// ---------------------------- 1024
@media (min-width: 1024px)
    $gap: 2rem
    .about
        grid-gap: $gap
        padding: 0 $gap
        padding-bottom: calc(100px + #{$gap} /2)
    .btn--goto-contact
        display: none
    .about__text
        line-height: 1.5rem