.about
    display: grid
    grid-gap: 1rem
    &__text
        padding: 10px 15px
        font-size: .9rem
        line-height: 1.2rem
        color: $link-grey
    &__skillset
        padding: 5px
.card__about
    display: flex
    flex-direction: column
    justify-content: flex-start
    padding: 5px
    font-size: 10px
    width: 100%     
.face__container
    background-color: #fff
    text-align: center
    margin: 1rem
    border-radius: 5px
    box-shadow: 0 0 20px 1px #a7a7a738
.techstack
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    padding: 10px 15px