*
    box-sizing: border-box
    
::after, ::before
    box-sizing: inherit

a
    color: $link-grey
    font-family: Montserrat

a:hover
    color: $strong-blue

.link--active
    color: $strong-blue
    background-color: $light-blue
.link--active
    border-bottom: 2px solid $strong-blue

html, body
    width: 100%
    height: 100%
    position: relative

body
    background-color: $light-grey
.far
    font-weight: 1000 !important