$border-color: #dedede
.main
    align-self: center
    justify-items: center
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    grid-gap: 1rem
    padding-top: 1rem
    margin-bottom: calc(50px + 1rem)
.card
    width: calc(100% - 2rem)
    height: 100px
    background-color: #fff
    box-shadow: 0 0 20px 1px #a7a7a738
    border-radius: 5px
    align-self: center
    display: flex
    flex-direction: row
    font-family: Montserrat
    position: relative
    &__description
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 5px
        font-size: 10px
        width: 100%
    &__image
        object-fit: cover
        height: 100%
        width: 100px
        border-radius: 5px 0 0 5px
    &__header
        display: flex
        justify-content: space-between
        align-items: center
        padding-bottom: 5px
        // margin-bottom: 5px
        border-bottom: 1px solid $border-color      
    &__title
        font-size: 12px
        font-weight: bold
        color: $strong-blue
        margin-top: 2px
        text-transform: capitalize
    &__text
        line-height: 1rem
        font-style: italic
    &__stack
        display: flex
        align-items: flex-end
        justify-content: flex-end
        padding-top: 5px 
        padding: 5px 5px 0 0
        // border-top: 1px solid $border-color
.image__container
    height: 100%
    width: 100px
    order: -1

.icon--stack
    font-size: 1rem
    color: $link-grey
    margin-left: 10px
.btn--square
    padding: .2rem .5rem
    border: 2px solid $strong-blue
    color: $strong-blue
    font-weight: bold
    text-transform: uppercase
    font-size: .5rem
.btn--live
    margin-right: 5px