.about, .portfolio, .contact
    width: 100vw
    transition: all .4s ease
.about
    position: absolute
    left: calc(0vw - #{$start-section})
    padding: 1rem
.portfolio
    align-self: center
    justify-items: center
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
    grid-gap: 1rem
    padding: 1rem
    margin-bottom: 50px
    position: absolute
    left: calc(100vw - #{$start-section})
    top: 0
.contact
    position: absolute
    left: calc(200vw - #{$start-section})
